
## Core latex/pdflatex Files ###################################################

# Core
*.aux
*.bit
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb*
.*.lb

# Documents
*.dvi
*.xdv
*-converted-to.*

# Generated
.ps
.eps
.pdf

# Bibliography
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Auxiliary
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.tar.gz

## Build Tool Files ############################################################

# latexrun
latex.out/

## Package Files ###############################################################

# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# easy-todo
*.lod

# elsarticle
*.spl

# endfloat
*.ttt
*.fff

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.glx
*.gxg
*.gxs
*.lzo
*.lzs
*.ist

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex

# lipics
*.vtc

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind
*.lpz

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfcomment
*.upa
*.upb

# pdfpcnotes
*.pdfpc

# pythontex
*.pytxcode
pythontex-files-*/

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# standalone
*.sta

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# tcolorbox
*.listing

# thmtools
*.loe

# tikz & pgf
*.dpth
*.md5
*.auxlock
*.tikz
*-tikzDictionary

# todonotes
*.tdo

# url
*.url

# vhistory
*.hst
*.ver

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic
*.xyc*
*.xyd*

## Editor Files ################################################################

# emacs
./auto/*
*.el

# expex
*-tags.tex

# gummi
.*.swp

# kbibtex
*~[0-9]*

# kile
*.backup
*kile*

# latexian
TSWLatexianTemp*

# lyx
*.lyx~

# texniccenter
*.tps

# texpad
.texpadtmp

# winedt
*.bak
*.sav

## Other Files #################################################################

lfmocdmac.sty
